.about {
    background-color: green;
    border: 2px solid rgb(0, 70, 0);
    text-align: center;
    margin-left: 30vh;
    /* margin-top: 20vh;  */
}
.about-text {
    text-align: center;
    /* margin-top: 20vh; */
}
h1{
    margin-top: 20vh;
}

.contact {
     background-color: rgb(0, 128, 0);
     width: 30%;
     margin: auto;
     border: 5px solid rgb(0, 70, 0);
}
input {
    width: 50%;
    margin: auto;
}
textarea {
    width: 98%;
}

h2 {
    text-align: center;
}